USE [master]
GO
/****** Object:  Database [FoodReviewDb]    Script Date: 29/09/2026 1:24:54 CH ******/
CREATE DATABASE [FoodReviewDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodReviewDb', FILENAME = N'C:\Users\Laptop\FoodReviewDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodReviewDb_log', FILENAME = N'C:\Users\Laptop\FoodReviewDb_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodReviewDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodReviewDb]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatConversations]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatConversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OwnerId] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Text] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CustomerText] [nvarchar](2000) NOT NULL,
	[OwnerText] [nvarchar](2000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[ReservationTime] [datetime2](7) NOT NULL,
	[PartySize] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantImages]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Cuisine] [nvarchar](max) NOT NULL,
	[PriceRange] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CategoryId] [int] NULL,
	[ApprovalStatus] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[OwnerId] [int] NULL,
	[IsOpen] [bit] NOT NULL,
 CONSTRAINT [PK_Restaurants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewImages]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewReports]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[ReporterId] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](32) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedBy] [int] NULL,
	[ResolvedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[UserAvatarUrl] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[RecommendedDish] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/09/2026 1:24:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BusinessName] [nvarchar](max) NULL,
	[BusinessAddress] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BusinessType] [nvarchar](max) NULL,
	[LastLoginAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookmarks] ON 

INSERT [dbo].[Bookmarks] ([Id], [RestaurantId], [CreatedAt], [UserId]) VALUES (1009, 2031, CAST(N'2026-09-27T14:36:00.7720806' AS DateTime2), 1)
INSERT [dbo].[Bookmarks] ([Id], [RestaurantId], [CreatedAt], [UserId]) VALUES (1010, 2023, CAST(N'2026-09-27T14:46:28.2405616' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Bookmarks] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Icon], [CreatedAt]) VALUES (9, N'Món Việt', N'ramen_dining', CAST(N'2026-09-27T19:21:09.9566667' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Icon], [CreatedAt]) VALUES (10, N'Nhật Bản', N'set_meal', CAST(N'2026-09-27T19:21:09.9566667' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Icon], [CreatedAt]) VALUES (11, N'Món Ý & Pizza', N'local_pizza', CAST(N'2026-09-27T19:21:09.9566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatConversations] ON 

INSERT [dbo].[ChatConversations] ([Id], [RestaurantId], [CustomerId], [OwnerId], [UpdatedAt]) VALUES (1, 1019, 2, 18, CAST(N'2026-09-27T10:29:24.8437900' AS DateTime2))
INSERT [dbo].[ChatConversations] ([Id], [RestaurantId], [CustomerId], [OwnerId], [UpdatedAt]) VALUES (2, 3019, 1, 2016, CAST(N'2026-09-27T17:54:18.1824978' AS DateTime2))
INSERT [dbo].[ChatConversations] ([Id], [RestaurantId], [CustomerId], [OwnerId], [UpdatedAt]) VALUES (3, 2036, 1, 3, CAST(N'2026-09-28T07:00:20.3801933' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatConversations] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [ConversationId], [SenderId], [Text], [CreatedAt], [IsRead], [CustomerText], [OwnerText]) VALUES (1, 1, 2, N'hi', CAST(N'2026-09-27T10:10:46.3319980' AS DateTime2), 1, N'', N'')
INSERT [dbo].[ChatMessages] ([Id], [ConversationId], [SenderId], [Text], [CreatedAt], [IsRead], [CustomerText], [OwnerText]) VALUES (2, 1, 18, N'hi', CAST(N'2026-09-27T10:14:00.0094731' AS DateTime2), 1, N'', N'')
INSERT [dbo].[ChatMessages] ([Id], [ConversationId], [SenderId], [Text], [CreatedAt], [IsRead], [CustomerText], [OwnerText]) VALUES (3, 1, 2, N'mình muốn đặt bàn ở bên bạn ấy', CAST(N'2026-09-27T10:14:27.5064898' AS DateTime2), 1, N'', N'')
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [RestaurantId], [UserId], [CustomerName], [Phone], [ReservationTime], [PartySize], [Note], [Status], [CreatedAt]) VALUES (1, 1018, 1, N'Quản Trị Viên', N'0123123123', CAST(N'2026-09-28T12:00:00.0000000' AS DateTime2), 1, N'', N'Cancelled', CAST(N'2026-09-26T18:31:02.4372640' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[RestaurantImages] ON 

INSERT [dbo].[RestaurantImages] ([Id], [RestaurantId], [ImageUrl], [CreatedAt]) VALUES (1063, 3018, N'http://localhost:5099/uploads/7950cf72-b8f0-483b-8f42-8b741658d166.png', CAST(N'2026-09-27T15:31:14.9056545' AS DateTime2))
INSERT [dbo].[RestaurantImages] ([Id], [RestaurantId], [ImageUrl], [CreatedAt]) VALUES (1064, 3018, N'http://localhost:5099/uploads/9d8c9307-6d3a-40ee-be90-6e708800fdb2.png', CAST(N'2026-09-27T15:31:14.9056549' AS DateTime2))
INSERT [dbo].[RestaurantImages] ([Id], [RestaurantId], [ImageUrl], [CreatedAt]) VALUES (1065, 3018, N'http://localhost:5099/uploads/d045d61c-e445-4abe-ab39-11e25b4fe4da.png', CAST(N'2026-09-27T15:31:14.9056550' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RestaurantImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

SET IDENTITY_INSERT [dbo].[Restaurants] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [RestaurantId], [UserName], [UserAvatarUrl], [Rating], [Comment], [RecommendedDish], [ImageUrl], [CreatedAt], [UserId]) VALUES (2023, 2021, N'Vương Trung Quân', N'https://picsum.photos/id/1005/200/200', 5, N'Quán ăn rất ngon, nước dùng đậm đà vừa vị. Phục vụ nhanh nhẹn dù quán khá đông!', N'Phở đặc biệt', N'https://picsum.photos/id/1080/600/400', CAST(N'2026-09-26T19:35:09.0333333' AS DateTime2), 1)
INSERT [dbo].[Reviews] ([Id], [RestaurantId], [UserName], [UserAvatarUrl], [Rating], [Comment], [RecommendedDish], [ImageUrl], [CreatedAt], [UserId]) VALUES (2024, 2022, N'Nguyễn Văn Quản Lý', N'https://picsum.photos/id/1012/200/200', 4, N'Món ăn trình bày đẹp mắt, không gian sạch sẽ thoáng mát. Rất hợp dắt gia đình đi ăn cuối tuần.', N'Sushi tổng hợp', N'https://picsum.photos/id/1025/600/400', CAST(N'2026-09-25T19:35:09.0333333' AS DateTime2), 2)
INSERT [dbo].[Reviews] ([Id], [RestaurantId], [UserName], [UserAvatarUrl], [Rating], [Comment], [RecommendedDish], [ImageUrl], [CreatedAt], [UserId]) VALUES (2025, 2023, N'Trần Minh Tuấn', N'https://picsum.photos/id/1027/200/200', 5, N'Món Ý ở đây chuẩn vị thực sự, phô mai dẻo thơm ngậy. Giá hơi cao nhưng tương xứng chất lượng.', N'Pizza hải sản lò củi', N'https://picsum.photos/id/1069/600/400', CAST(N'2026-09-24T19:35:09.0333333' AS DateTime2), 18)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [AvatarUrl], [CreatedAt], [BusinessName], [BusinessAddress], [Email], [BusinessType], [LastLoginAt]) VALUES (1, N'admin', N'PBKDF2$210000$6yR5K5nQUXzDspK7RPyZhA==$XSZtpFztLnQqa3rvXY8xDPYGtMoJw1ft+Rh5+tAoLL8=', N'Quản Trị Viên', N'Admin', N'https://i.pravatar.cc/150?img=68', CAST(N'2026-09-21T10:53:40.9901017' AS DateTime2), NULL, NULL, NULL, NULL, CAST(N'2026-09-28T07:14:13.1985134' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [AvatarUrl], [CreatedAt], [BusinessName], [BusinessAddress], [Email], [BusinessType], [LastLoginAt]) VALUES (2, N'user', N'user123', N'Minh Anh Foodie1', N'User', N'https://i.pravatar.cc/150?img=32', CAST(N'2026-09-21T10:53:40.9901288' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [AvatarUrl], [CreatedAt], [BusinessName], [BusinessAddress], [Email], [BusinessType], [LastLoginAt]) VALUES (18, N'quan', N'123456', N'quan', N'Business', N'https://i.pravatar.cc/150?u=1a28a4a4-6f56-4911-9d63-3df634658b6c', CAST(N'2026-09-25T19:52:21.4891826' AS DateTime2), N'quan', N'quan', N'quan@gmail.com', N'Vietnamese', CAST(N'2026-09-27T16:21:18.9822388' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ChatConversations_Participants]    Script Date: 29/09/2026 1:24:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChatConversations_Participants] ON [dbo].[ChatConversations]
(
	[RestaurantId] ASC,
	[CustomerId] ASC,
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_ConversationId_Id]    Script Date: 29/09/2026 1:24:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_ConversationId_Id] ON [dbo].[ChatMessages]
(
	[ConversationId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewReports_Pending]    Script Date: 29/09/2026 1:24:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ReviewReports_Pending] ON [dbo].[ReviewReports]
(
	[ReviewId] ASC,
	[ReporterId] ASC
)
WHERE ([Status]='Pending')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_RestaurantId]    Script Date: 29/09/2026 1:24:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_RestaurantId] ON [dbo].[Reviews]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmarks] ADD  DEFAULT ((1)) FOR [UserId]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ('') FOR [CustomerText]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ('') FOR [OwnerText]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ('') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RestaurantImages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((21.0285)) FOR [Latitude]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((105.8542)) FOR [Longitude]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ('Approved') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[ReviewImages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewReports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Users_UserId]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[RestaurantImages]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantImages_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RestaurantImages] CHECK CONSTRAINT [FK_RestaurantImages_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Restaurants] CHECK CONSTRAINT [FK_Restaurants_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ReviewImages]  WITH CHECK ADD  CONSTRAINT [FK_ReviewImages_Reviews_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewImages] CHECK CONSTRAINT [FK_ReviewImages_Reviews_ReviewId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
USE [master]
GO
